.root{
    -fx-background-color: #ccffff;
}
.label{
    -fx-text-fill: #AB4642;
}
.button{
    -fx-background-color: #e8d093;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}
.button-customStyle{
    -fx-background-color: #e8d093;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}
#bold-label{
    -fx-font-weight: bold;
}
